* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.container {
    width: 1115px;
    margin: 0 auto;
}

header {
    background: var(--gradients-menu, linear-gradient(183deg, rgba(0, 255, 163, 0.12) 0%, rgba(31, 26, 255, 0.20) 100%));
    box-shadow: 0px 4px 40px 0px #0000000d;

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-part {
            display: flex;
            justify-content: space-around;

            .logo-img {
                margin-right: 37px;

            }

            .menu {
                ul {
                    display: flex;
                    gap: 37px;
                    list-style: none;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: aliceblue;
                        display: inline-block;

                    }

                }
            }
        }

        .additions {
            display: flex;
            gap: 8px;

            .language {
                display: flex;
                padding: 29px 5 18px;
                background-color: #3b3b3b;
                border: 0.5px solid;
                box-shadow: 0px 4px 9px 0px rgba(176, 176, 176, 0.1);

                border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(225, 225, 225, 0.252) 100%);


            }

            .balance {
                display: flex;
            }
        }
    }
}