* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: system-ui;
}

.container {
    width: 1115px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

header {
    background: var(--gradients-menu, linear-gradient(183deg, rgba(0, 255, 163, 0.12) 0%, rgba(31, 26, 255, 0.20) 100%));
    box-shadow: 0px 4px 40px 0px #0000000d;

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-part {
            display: flex;
            justify-content: space-around;

            .logo-img {
                margin-right: 37px;

            }

            .menu {
                display: flex;

                ul {
                    display: flex;
                    gap: 37px;
                    list-style: none;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: aliceblue;
                        display: inline-block;

                    }

                }
            }
        }

        .additions {
            display: flex;
            gap: 10px;

            .language {
                display: flex;
                padding: 5px;
                background-color: #3b3b3b;
                border: 1px #ffffff26 solid;
                box-shadow: 0px 4px 9px 0px rgba(176, 176, 176, 0.1);
                border-radius: 6px;
                background: var(--white-white-15, #3B3B3B);


                p {
                    color: #fff;
                    margin-left: 6px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 3px;
                }

            }

            .balance {
                display: flex;
                padding: 5px;
                align-items: center;
                background-color: #3b3b3b;
                border: 1px #ffffff26 solid;
                box-shadow: 0px 4px 9px 0px rgba(176, 176, 176, 0.1);
                border-radius: 6px;
                background: var(--white-white-15, #3B3B3B);

                .cash {
                    color: #fff;
                    margin-left: 10px;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                }

            }
        }
    }
}

// HEADER END 

// HERO START 
.hero {
    background-image: url(/src/img/MAIN-BG.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-page {
        padding: 179px 0 87px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .description {
            color: #fff;

            h3 {
                font-size: 56px;
                font-style: normal;
                font-weight: 800;
                line-height: 61px;
                margin-bottom: 16px;

            }

            p {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
                color: #FFF;
                opacity: 0.800000011920929;
            }
        }

    }
}
.moon-pctr {
    position: fixed;
    right: 0px;
    width: 732px;
    height: 703px;
    z-index: 0;
    top: 0;
}
// HERO PAGE
// WRAPPER PAGE
.wrapper {
    display: flex;
    justify-content: space-between;

    .card {
        padding: 30px 50px 0 30px;
        background-color: #151822;
        width: 353px;
        height: 460px;

        .offer {
            color: #fff;
            text-align: left;

            .top-paragraph {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
                opacity: 0.8;
            }

            .title {
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 109%;
            }

            .text {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                margin: 16px 0 32px;
            }

            .button {


                .btn {
                    text-decoration: none;
                    padding: 16px 32px;
                    border-radius: 12px;
                    background: var(--accent, #1D9A6D);
                    color: #fff;
                    font-weight: 700;
                    font-size: 16px;
                    border: 0 solid;
                    cursor: pointer;
                }
            }
        }

    }
}

.slider {
    display: flex;
    justify-content: center;
}

// PARTNERS
.partners {
    background: #151822;

    .partner-flex {
        display: flex;
        justify-content: space-between;

        .partner-desc {
            h2 {
                color: #fff;
                font-size: 42px;
                font-weight: 700;
                line-height: 43px;
            }

            p {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
                color: #fff;
                opacity: 0.8;
            }
        }
    }
}